<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form add</title>
</head>
<body>
    <form method="post">
        <label>Enter name:</label>
        <input type="text" name="name" placeholder="Enter name" required><br/>
        <label>Enter email:</label>
        <input type="email" name="email" placeholder="Enter email" required><br/>
        <label>Enter city:</label>
        <input type="text" name="city" placeholder="Enter city" required><br/>
        <label>Enter country:</label>
        <input type="text" name="country" placeholder="Enter country" required><br/>
        <label>Enter phone:</label>
        <input type="text" name="phone" placeholder="Enter phone" required><br/>
        <input type="submit" value="submit"><br/>
    </form>
</body>
</html>